.container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2em;
  width: clamp(300px, 80%, 600px);
  height: 700px;
  padding: clamp(1em, 2vw, 2em);
  border-radius: 1em;
  background-color: #0108244d;
  transform: translate(-50%, -50%) rotateY(0);
  transition: transform 1s ease;
  backface-visibility: hidden;
  box-shadow: 0px 0px 2em 0.5em #e945e326;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 1em;
    padding: 0.2em;
    background: linear-gradient(
      -45deg,
      #522d7a 0%,
      transparent 30%,
      transparent 70%,
      #e945e3 100%
    );
    mask: linear-gradient(#fff, #fff) content-box, linear-gradient(#fff, #fff);

    mask-composite: exclude;
    z-index: -1;
  }
}

.is-flipped {
  transform: translate(-50%, -50%) rotateY(180deg);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.2em;
  text-align: center;

  & > .header__title {
    font-size: clamp(1.25em, 2vw, 2.25em);
    font-weight: 700;
    line-height: 1.5;
  }

  & > .header__sub-title {
    font-size: clamp(0.75em, 2vw, 1em);
    font-weight: 500;
    line-height: 1.5;
    color: #eeeeeebf;
  }
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 1em;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-left: 0.5em solid #e945e3;
  padding-left: clamp(1em, 2vw, 2em);

  & > .field__label {
    font-size: clamp(1em, 2vw, 1.25em);
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 0.5em;
    cursor: pointer;
  }

  & > .field__sub-label,
  & > .field__value {
    font-size: clamp(0.75em, 2vw, 1em);
    font-weight: 500;
    line-height: 1.5;
    color: #eeeeeebf;
  }

  & > .field__value {
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-top: 0.5em;
  }

  & > input[type='text'] {
    width: 100%;
    background-color: #eeeeeebf;
    padding: 0.35em 0.85em;
    line-height: 1.25em;
    font-size: clamp(0.75em, 2vw, 1em);
    font-weight: 400;
    border-radius: 0.3em;
    border: 0.125em solid #7a43b6;
    font-family: 'Poppins', sans-serif;
    color: #010824;

    &::placeholder {
      font-family: 'Poppins', sans-serif;
      color: #01082480;
    }

    &:focus {
      box-shadow: 0 0 0 0.15em #020c3659, 0 0 0 0.25em #522d7a;
    }
  }

  & > input[type='color'] {
    appearance: none;
    background-color: transparent;
    border: none;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    padding: 0;

    &:focus {
      box-shadow: 0 0 0 0.15em #020c3659, 0 0 0 0.25em #522d7a;
    }

    &::-webkit-color-swatch {
      border: none;
      border-radius: 50%;
    }

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }
  }

  input[type='range'] {
    appearance: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 0.25em;
    border-radius: 0.25em;
    background-color: #7a43b6;
    outline: none;
    cursor: pointer;

    &::-webkit-slider-thumb {
      appearance: none;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background-color: #7a43b6;
      cursor: pointer;
      transition: background-color 0.15s ease-in-out;
    }

    &::-webkit-slider-thumb:hover {
      background-color: #522d7a;
    }
    &:active::-webkit-slider-thumb {
      background-color: #522d7a;
    }

    &:focus::-webkit-slider-thumb {
      box-shadow: 0 0 0 0.15em #020c3659, 0 0 0 0.25em #522d7a;
    }
  }
}

.fieldset {
  display: grid;
  grid-template-columns: calc(50% - 1em) calc(50% - 1em);
  grid-template-rows: auto 1fr;
  gap: 1em;
  border: none;
  padding: 0;
  margin: 0;
  border-left: 0.5em solid #e945e3;
  padding-left: clamp(1em, 2vw, 2em);

  & > .fieldset__legend {
    grid-row: 1;
    grid-column: 1 / -1;
    font-size: clamp(1em, 2vw, 1.25em);
    line-height: 1.5;
    font-weight: 700;
  }

  & > .field {
    border: none;
    flex-grow: 1;
    padding: 0;
    text-align: center;
    align-items: center;

    & > .field__value {
      margin-top: 0.5em;
      text-align: center;
    }
  }
}

.cta {
  align-self: center;
  position: relative;
  display: block;
  min-width: 10em;
  max-width: 15em;
  padding: 1em 2em;
  border: none;
  border-radius: 2.5em;
  background-color: transparent;
  font-size: clamp(1em, 2vw, 1.25em);
  line-height: 1.5;
  font-weight: 500;
  color: #e945e3;
  cursor: pointer;
  z-index: 0;
  transition: color 0.5s;
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-duration: 1s;

  &:focus {
    outline: none;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border: 0.125em solid #e945e3;
    z-index: -10;
    border-radius: inherit;
    opacity: 0;
    transform: scale3d(0.75, 0.55, 1);
    transition: transform 0.5s, opacity 0.5s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-duration: 1s;
    backface-visibility: hidden;
  }

  &::after {
    content: '';
    position: absolute;
    inset: -1.6em;
    background-color: transparent;
    border-radius: 2.5em;
    z-index: -11;
    opacity: 0.6;
    transform: scale3d(0.8, 0.5, 1);
    backface-visibility: hidden;
  }

  &:disabled {
    outline: none;
    transition: none;
    transform: none;
    color: #eeeeeebf;
    cursor: not-allowed;
    transition: color 0.5s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }

  &:not(:disabled)::before {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  &:not(:disabled):hover::after {
    animation: animation-2 0.5s 0.5s forwards;
  }
}

@keyframes animation {
  60% {
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes animation-2 {
  to {
    opacity: 0;
    transform: scale3d(1, 1, 1);
    background-color: #7a43b6;
  }
}

.is-flipped .cta::before,
.is-flipped .cta::after {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container:not(.is-flipped) .cta:hover {
  transition: background-color 0.1s 0.5s;
  color: #eeeeee;
  background-color: #7a43b6;
  animation: animation 0.5s forwards;
}
