.content {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.5em, 2vw, 1.25em);
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: clamp(0.5em, 2vw, 1em);
  min-height: 100vh;

  & > main {
    flex-grow: 1;
  }
}
