.container {
  position: relative;
  background-color: #020c3659;
  border-radius: 1em;
  padding: clamp(1em, 2vw, 2em);
  width: clamp(300px, 80%, 600px);
  height: 700px;
  /* min-height: max-content; */
  transition: all 1s ease;
  backface-visibility: hidden;
  box-shadow: 0px 0px 3em 2em #e945e333;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.2em;
  text-align: center;
  margin-bottom: 2em;

  & > .header__title {
    font-size: clamp(1.25em, 2vw, 2.25em);
    font-weight: 700;
    line-height: 1.5;
  }

  & > .header__sub-title {
    font-size: clamp(0.75em, 2vw, 1em);
    font-weight: 500;
    line-height: 1.5;
    color: #eeeeeebf;
  }
}

.image-wrapper {
  width: 70%;
  margin: 0 auto;
  box-shadow: 0px 0px 0.5em 0.5em #e945e333;

  & > img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.download-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;

  & > .download-title {
    font-size: clamp(1em, 2vw, 1.25em);
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
  }

  & > .download-list {
    display: flex;
    justify-content: center;
    gap: 0.5em;
  }

  & .download-btn {
    display: block;
    padding: 5px 10px;
  }
}

.cta {
  align-self: center;
  font-size: clamp(1em, 2vw, 1.25em);
  line-height: 1.5;
  font-weight: 500;
  color: #e945e3;
  display: inline-block;
  position: relative;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  transition-duration: 1s;

  &::before,
  &::after {
    content: '';
    width: 0;
    height: 0.125em;
    position: absolute;
    transition: all 0.2s linear;
    background-color: #e945e3;
  }

  &::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.5s;
  }

  &::before {
    left: 0;
    top: 0;
    transition-duration: 0.5s;
  }
  &:not(:disabled) {
    box-shadow: 0px 0px 0.5em 0.5em #e945e333;
  }
  &:not(:disabled)::before,
  &:not(:disabled)::after {
    width: 100%;
  }

  &:not(:disabled) > span::before,
  &:not(:disabled) > span::after {
    height: 100%;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    outline: none;
    transition: none;
    transform: none;
    color: #eeeeeebf;
    cursor: not-allowed;
    transition: color 0.5s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  & > span {
    display: block;
    padding: 1.25em 1.875em;

    &::before,
    &::after {
      content: '';
      width: 0.125em;
      height: 0;
      position: absolute;
      transition: all 0.2s linear;
      background-color: #e945e3;
    }

    &::before {
      left: 0;
      top: 0;
      transition-duration: 0.5s;
    }

    &::after {
      right: 0;
      bottom: 0;
      transition-duration: 0.5s;
    }
  }
}
