.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright-text {
  font-size: clamp(1em, 2vw, 1.5em);
}

.social-profiles {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}
