.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #eeeeee;
  padding: 1.5em 0;
}

.copyright-text {
  font-size: 1em;

  @media screen and (min-width: 768px) {
    font-size: 1.25em;
  }

  @media screen and (min-width: 768px) {
    font-size: 1.5em;
  }
}

.social-profiles {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}
